<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Socket.IO Example</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style/tinyscrollbar.css">
  </head>
  <body ms-controller="socketChat">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hide_nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="javascript:;" class="navbar-brand">socket 聊天室</a>
        </div>
        <div class="collapse navbar-collapse" id="hide_nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="javascript:;"><i class="glyphicon glyphicon-user"></i> 人工云客服</a>
            </li>
            <li>
              <a href="javascript:;"><i class="glyphicon glyphicon-th-list"></i> 服务中心</a>
            </li>
            <li>
              <a href="javascript:;" ms-click="login">登录</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- main container start -->
        <div class="col-sm-9">
          <div class="panel panel-default chat-panel">
            <!-- 聊天面板 -->
            <div class="panel-body" id="scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="top"></div>
                    <div class="end"></div>
                    <div class="center"></div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <div class="tip">{{tip}}</div>
                  <ul class="media-list" ms-repeat="messageList">
                    <li class="media" ms-if="el.userName != userName">
                      <div class="media-left">
                        <a href="javascript:;">
                          <img width="30" ms-attr-src="el.avatar" class="media-object" alt="avatar">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4>{{el.message}}</h4>
                      </div>
                    </li>
                    <li class="media" ms-if="el.userName == userName">
                      <div class="media-body text-right">
                        <h4>{{el.message}}</h4>
                      </div>
                      <div class="media-right">
                        <a href="javascript:;">
                          <img width="30" ms-attr-src="el.avatar" class="media-object" align="avatar">
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 发送面板 -->
            <div class="panel-footer">
              <form class="form-horizontal">
                <div class="input-group">
                  <input type="text" ms-duplex="message" class="form-control" placeholder="发送信息">
                  <span class="input-group-btn">
                    <button ms-attr-disabled="!userName" type="submit" class="btn btn-primary" ms-click="sendMessage"><i class="glyphicon glyphicon-send"></i> 发送</button>
                  </span>
                </div>
                <a href="javascript:;" class="control-label"><i class="glyphicon glyphicon-saved"></i> 保存聊天记录</a>
              </form>
            </div>
          </div>
        </div>
        <!-- main container end -->
        <!-- side start -->
        <div class="col-sm-3 chat-side">
          <div class="list-group">
            <a href="javascript:;" class="list-group-item active" data-target="#userList" data-toggle="collapse">在线人员列表 {{userNum}} 人</a>
            <ul class="collapse in" id="userList">
              <li ms-repeat="userOnlineList"><i class="glyphicon glyphicon-user"></i>  {{el.userName}}</li>
            </ul>
            <a href="javascript:;" class="list-group-item" data-target="#message" data-toggle="collapse">相关内容</a>
            <div class="collapse" id="message">
              <p>这里是相关的内容...</p>
              <p>这里是相关的内容...</p>
              <p>这里是相关的内容...</p>
            </div>
          </div>
        </div>
        <!-- side end -->
      </div>
    </div>
    <!-- Modal -->
    <div id="loginModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">登录--请先输入你的昵称</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group has-feedback" ms-class="has-error: state.submitState==0">
                <label class="label-control">昵称：</label>
                <input type="text" ms-duplex="userName" class="form-control">
                <button type="submit" href="javascript:;" class="btn btn-primary" ms-click="sendName">提交</button>
                <!-- <a href="javascript:;" ms-click="send">提交</a> -->
                <span class="help-block">{{state.submitStateText}}</span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取  消</button>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="http://static.uc108.com/cdn/require/2.1.22/require.min.js"></script>
  <script type="text/javascript" src="/static/js/config.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
