body{
	font-family: 'Microsoft Yahei';
}
.tip{
  font-size: 14px;
  color: #666;
  text-align: center;
}
ul{
	list-style: none;
	padding-left: 20px;
}
.chat-panel .panel-body{
	height: 400px;
	margin-bottom: 0;
}
.chat-side{
	height: 100%;
}